// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 h2 {
  font-weight: bolder;
  font-family: 'Roboto Mono', monospace;
}

p {
  font-weight: 15px;
  font-family: 'Roboto Mono', monospace;
}
